svg.bi-exclamation-circle{
    margin-right: 0.5em;
}
.card a{
 text-decoration: none;   
}
.eds_img{
    background-color: #002f56;
}
.card_text_img{
    background-color: #445F87;
    color: white;
    text-align: center;
    height: 225px;
    padding-top: 25%;
    font-family: sans-serif;
    font-size: xx-large
}
.eds_api{
    background-color: #C8D2E1;
    color: white;
}
.eds_img div{
    /* margin-top:90px;
    margin-left:40px; */
    padding-top: 25%;
    margin-left:10px;
    margin-right:10px;
    height: 225px;
    width: 90%;
    
}
.folio_img{
    margin-top:50px;
    height: 175px;
    width: 100%;
}
.ks_img{
    margin-top:90px;
    margin-left:40px;
    height: 135px;
    width: 70%;
}
button a{
    color: grey;
}
.answer{
    margin-left: 1em;
    margin-bottom: 2em;
}
.blog-post {
    margin-bottom: 4rem;
}
.jumbotron{
    margin-bottom: 0;
}
.jumbotron.faq{
    margin-bottom: 2em;
}
.badge{
    margin-left:1em;
}
footer{
    margin-top: 5em;;
}
.btn-primary{
    background-color:#3E75CF;
    border-color: #3E75CF;
}
.bg-dark{
    background-color: #002f56 !important;
}
.nav-link{
    color: #EFEFEF !important;
}